@inherits LayoutComponentBase

<MediaQueryList>
    <MudThemeProvider Theme="_theme" />
    <MudDialogProvider />

    <NavMenu />

    <div class="body-container">
            @Body
    </div>
</MediaQueryList>

@code {
    MudTheme _theme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = "#9B4A08",
                AppbarBackground = "#F48C74",
                DrawerBackground = "#F48C74",
                DrawerIcon = "#FCF6ED",
                DrawerText = "#FCF6ED",
                Secondary = "#FCF6ED"
            },
        };
}